<table class="profile" summary="Profile Information">
	<tr>
		<td class="main">
		  <h1>
			  <%= @user.name %>
		  </h1>
		<%= render 'shared/game' if signed_in? %>
		 <br />
		<% if @user == current_user %>
			<h3> Open Games: </h3>
			<%= will_paginate @games %>
			<ul class ="users"`>
				<%= render @games %>
			</ul>
			<%= will_paginate @games %>
		<% end %>
		</td>
		

		<td class = "sidebar round">
		  <strong>Name</strong> <%=@user.name %><br />
		  <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
		  <strong>Open Games</strong> <%= @user.game.count %>
		</td>
	</tr>
</table>


